---
---

$base-color: #ffffff;
$text-color: #0f232b;
$highlight-color: #000000;
$body-background: darken($base-color, 4%);
$article-background: $base-color;
$header-background: $base-color;
$link-color: #08d;

/** Fonts */
$helvetica: Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica_neue: "Helvetica Neue", "Yantramanav", $helvetica;
$helvetica-header-weight: 100;
$trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$verdana: Verdana, Geneva, sans-serif;
$georgia: Palatino, Georgia, "Times New Roman", serif;

$header-font: $helvetica_neue;
$header-weight: $helvetica-header-weight;
$text-font: $georgia;
$text-weight: 400;
$link-weight: 400;

/** Slideshow */
$button-color: $text-color;
$button-size: 3em;
$button-width: 5%;
$slideshow-height: 300px;

@import "base";
@import "header";
@import "footer";
@import "pagination";
@import "posts";
@import "responsive";
@import "site-links";
@import "skills";
