---
layout: default
---
<section>
    {% for post in site.posts %}
        <article>
            <h2>
                <a class="subject" href="{{ post.url }}">{{ post.title }}</a>
                {% if post.category == "experiences" %}
                <span class="company">{{ post.company }}</span>
                <span class="time">{{ post.start_date }} &ndash; {{ post.end_date }}</span>
                {% else %}
                    {% if post.start_date and post.end_date %}
                    <span class="time">{{ post.start_date }} &ndash; {{ post.end_date }}</span>
                    {% elsif post.start_date %}
                    <span class="time">{{ post.start_date }}</span>
                    {% endif %}
                {% endif %}
            </h2>
            {{ post.excerpt | markdownify }}
            {% if post.excerpt != post.content %}
                <a class="read-more" href="{{ post.url }}">read more</a>
            {% endif %}
        </article>
    {% endfor %}
</section>
