---
layout: default
---
<section>
    {% assign front_page_posts = site.categories.projects |
        concat:site.categories.experiences |
        sort: "date" |
        reverse |
        group_by: "present" |
        sort: "name" |
        reverse |
        map: "items"
    %}
    {% for grouped_posts in front_page_posts %}
    {% for post in grouped_posts %}
        <article>
            <h2>
                <a class="subject" href="{{ post.url }}">{{ post.title }}</a>
                {% if post.category == "experiences" %}
                <span class="company">{{ post.company }}</span>
                <span class="time">{{ post.start_date }} &ndash; {{ post.end_date }}</span>
                {% else %}
                    {% if post.start_date and post.end_date %}
                    <span class="time">{{ post.start_date }} &ndash; {{ post.end_date }}</span>
                    {% elsif post.start_date %}
                    <span class="time">{{ post.start_date }}</span>
                    {% endif %}
                {% endif %}
            </h2>
            <div class="article-excerpt">
            {% if post.media %}
                {% assign asset = post.media[0] %}
                <a class="media-link" href="{{ post.url }}">
                    {% include media.html file=asset %}
                </a>
            {% endif %}
            {{ post.excerpt | markdownify }}
            {% if post.excerpt != post.content %}
                <a class="read-more" href="{{ post.url }}">read more</a>
            {% endif %}
            </div>
        </article>
    {% endfor %}
    {% endfor %}
</section>
