---
layout: default
image: /favicon.png
---
{% assign post_limit = 2 %}
{% assign tags = "hack explore teach" | split: " " %}
{% for tag in tags %}
    <section>
        <header>
            <div class="symbol">{% include {{tag}}.html %}</div>
            <h2>{{tag | capitalize}}</h2>
        </header>
        <div class="articles">
            {% assign tag_posts = site.posts | where: "tags", tag %}
            {% include sort.html posts=tag_posts %}
            {% for post in sorted_posts limit:post_limit %}
                {% include post-summary.html post=post %}
            {% endfor %}
            {% if sorted_posts.size > post_limit %}
                <div class="more-articles"><a aria-label="show more articles" href="{% link blog/index.html %}">&#xFF0B;</a></div>
            {% endif %}
        </div>
    </section>
{% endfor %}

<script>
// optimize animations by pausing them off-screen
const visibleObserver = new IntersectionObserver(entries => {
  entries.forEach(e =>
    e.target.classList.toggle('pause-animation', !e.isIntersecting))
})

function init() {
  visibleObserver.disconnect()
  window.document.querySelectorAll('section header .symbol').forEach(s => visibleObserver.observe(s))
}
init()
</script>
