<header class="site-header">

  <div class="wrapper">
    <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
    <h4 class="site-tagline">{{ site.tagline }}</h4>
    <div class="site-links">
        <a href="mailto:{{ site.email }}">email</a>
        &ndash;
        <a href="http://www.slideshare.net/JohnStarich/resume-2016-68461669">resume</a>
        <br>
        {% include github.html username=site.github_username %}
        {% include linkedin.html %}
    </div>
  </div>

</header>
