<header class="site-header">

  <div class="wrapper">
    <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
    <h3 class="site-tagline">{{ site.tagline }}</h3>
    <div class="site-links">
        <a href="https://github.com/JohnStarich/johnstarich.github.io/raw/master/resumes/John_Starich_2018.pdf">Resume</a>
        &bull;
        <a href="mailto:{{ site.email }}">Email</a>
        &bull;
        {% include github.html username=site.github_username %}
        &bull;
        {% include linkedin.html %}
    </div>
  </div>

</header>
