<div class="rss-articles"></div>
<script>
const feedURL = {{include.feed | jsonify }};
const shouldSortParent = {{include.sortParent | jsonify }} === true

function run() {
    fetch(proxyURL(feedURL))
        .then(response => response.text())
        .then(parseRSSFeed)
}

function proxyURL(url) {
    const proxyPath = url.replace(/^https?:\/\//i, "")
    return `https://cors-proxy.johnstarich.com/proxy/${proxyPath}`
}

function parseRSSFeed(xmlData) {
    const dateFormatter = Intl.DateTimeFormat(undefined, { year: 'numeric', month: 'long', day: 'numeric' })
    const rss = document.querySelector(".rss-articles")
    const data = new window.DOMParser().parseFromString(xmlData, "text/xml")
    const items = Array.from(data.querySelectorAll("item"))
        .map(item => {
            const pubDateStr = readCDATA(item.querySelector("pubDate"))
            let description = readCDATA(item.querySelector("description"))
            if (! description) {
                const contentTags = item.getElementsByTagName("content:encoded")
                if (contentTags.length > 0) {
                    description = readCDATA(contentTags[0])
                }
            }
            description = decodeHTMLEntities(description)
            return {
                title: readCDATA(item.querySelector("title")),
                link: readCDATA(item.querySelector("link")),
                pubDate: pubDateStr && Date.parse(pubDateStr),
                descriptionHTML: description,
            }
        })
    items.sort((a, b) => a.pubDate - b.pubDate)

    const articles = items.map(item => {
        const article = document.createElement("article")
        article.innerHTML = `
<h1>
<a class="subject" target="_blank"></a>
<span class="time"></span>
</h1>
<div class="article-excerpt">
</div>`
        const linkElem = article.querySelector(".subject")
        linkElem.href = item.link
        linkElem.innerText = item.title

        const timeElem = article.querySelector(".time")
        if (item.pubDate) {
            timeElem.innerText = dateFormatter.format(item.pubDate)
        }

        const postData = document.createElement("div")
        postData.innerHTML = item.descriptionHTML
        const excerptElem = article.querySelector(".article-excerpt")

        const image = getImage(postData)
        if (image) {
            const mediaLink = document.createElement("a")
            excerptElem.appendChild(mediaLink)
            mediaLink.classList.add("media-link")
            mediaLink.target = "_blank"
            mediaLink.href = item.link

            const imageElem = document.createElement("div")
            mediaLink.appendChild(imageElem)
            imageElem.classList.add("media", "short")
            const imageURL = proxyURL(image.src)
            imageElem.style["background-image"] = `url(${imageURL})`
            article.classList.add("featured-media")
        }

        const excerpt = getExcerpt(postData)
        const excerptTextElem = document.createElement("p")
        excerptElem.appendChild(excerptTextElem)
        excerptTextElem.innerText = excerpt

        const readMoreElem = document.createElement("p")
        excerptElem.appendChild(readMoreElem)
        const readMore = document.createElement("a")
        readMoreElem.appendChild(readMore)
        readMore.classList.add("read-more")
        readMore.target = "_blank"
        readMore.innerText = "read more"
        readMore.href = item.link

        return article
    })
    articles.forEach(article => rss.insertAdjacentElement('afterend', article))

    if (shouldSortParent) {
        Array.from(rss.parentElement.children)
            .sort((a, b) => articleToDate(b) - articleToDate(a))
            .forEach((article, i) => {
                rss.parentElement.appendChild(article)
                if (i == 0) {
                    const readMore = document.createElement("div")
                    readMore.classList.add("center-row")
                    readMore.innerHTML = `{% include follow.html %}`
                    rss.parentElement.appendChild(readMore)
                }
            })
    }
    rss.remove()
}

function readCDATA(node) {
    if (!node) {
        return node
    }
    if (!node.firstChild) {
        if (node.nodeType === Node.TEXT_NODE || node.nodeType === Node.CDATA_SECTION_NODE) {
            return node.wholeText
        }
        return undefined
    }
    return readCDATA(node.firstChild)
}

function articleToDate(elem) {
    const time = elem.querySelector(".time")
    if (time && time.innerText) {
        const date = Date.parse(time.innerText)
        if (date !== NaN) {
            return date
        }
    }
    return new Date(0)
}

function getImage(postData) {
    const image = postData.querySelector("img")
    if (image.src.startsWith("https://cdn-images-1.medium.com/")) {
        return image
    }
    return null
}

function getExcerpt(postData) {
    const mediumSnippet = postData.querySelector(".medium-feed-snippet")
    if (mediumSnippet) {
        return mediumSnippet.innerText
    }

    const paragraphBreak = "\n\n"
    Array.from(postData.querySelectorAll("figure"))
        .forEach(caption => caption.remove())
    Array.from(postData.querySelectorAll("p"))
        .forEach(caption => {
            const newLine = document.createElement("span")
            newLine.innerHTML = paragraphBreak
            caption.appendChild(newLine)
        })

    const postText = postData.innerText
    const paragraphs = postText.split("\n\n")
    const minWordLength = 60
    let snippet = ""
    let words = 0
    for (let p of paragraphs) {
        snippet += p + paragraphBreak
        words += wordCount(p)
        if (words >= minWordLength) {
            break
        }
    }
    return snippet 
}

function decodeHTMLEntities(html) {
    if (!html) {
        return html
    }
    const textarea = document.createElement('textarea')
    textarea.innerHTML = html
    return textarea.value
}

function wordCount(s) {
    return s.trim().split(/\s+/).length
}

run()
</script>
<noscript>
<p>Enable JavaScript to see my latest blog posts.</p>
</noscript>
