@import "fonts";

html {
    // fix landscape text scaling
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, body {
    color: var(--text-color);
    @media print {
        color: #000;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include header-font();
    margin: 0;
}

h1, h2 {
    font-size: 1.5em;
}

body, article, section, p {
    @include content-font();
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--body-background);
    @media print {
        background: none;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
}

article, section, p {
    @include content-font();
}

p {
    margin: 1em 0;
}

code.highlighter-rouge {
    box-sizing: border-box;
    padding: 0.125em 0.35em;
    margin: 0 0.125em;
    background-color: var(--code-block-background-color);
    border-radius: 0.25em;
}

.highlight {
    pre {
        overflow-x: scroll;
        box-sizing: border-box;
        padding: 0.5em 1em;
        background-color: var(--code-background-color);
    }
}

.media {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 0.8em; // slightly less than p tag margin, leaves room for translucent border on pic
    margin-bottom: 1em;
    max-height: 30em;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (3 / 4) * 100%;
    }
}

.hover-link {
    text-decoration: none;
    font-weight: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.icon {
    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 5px;

        path {
            fill: var(--text-color);
            @media print {
                fill: #000;
            }
        }
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    text-align: center;
    margin-left: 0;
    padding-left: 0
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;

    .section-header {
        width: 100%;
        font-size: 2em;
        @include header-font();

        @media print {
            font-size: 1.5em;
            page-break-after: avoid;
            break-after: avoid;
        }
    }
}

section + section {
    margin-top: 8vh;
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.75em;
    margin: 1.25em;
    border-radius: 2px;
    text-align: left;
    background-color: var(--article-background);
    max-width: 40em;
    border: 1px solid var(--text-border-color);

    @media (max-width: 40em) {
        padding: 5%;
        margin: 3%;
    }

    @media print {
        background: none;
        border: none;
        margin: 0.1em;
        padding: 0 0.5em;
        page-break-inside: avoid;
        break-inside: avoid;
        page-break-after: always;
        break-after: always;

        &:after {
            content: "\a";
            white-space: pre;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    p:last-child {
        // align last line of text to bottom of article
        margin-bottom: 0;
    }

    .read-more {
        margin-top: auto;
        font-style: italic;
        font-size: 0.85em;
        font-weight: 100;
        color: var(--text-color);
        -webkit-text-decoration-color: var(--link-underline-color);
        text-decoration-color: var(--link-underline-color);
        @media print {
            display: none;
        }
        &:after {
            content: "...";
        }
    }

    a.read-more {
        color: var(--text-color);
        opacity: 0.7;

        &:hover {
            color: var(--link-hover-color);
            -webkit-text-decoration-color: var(--link-underline-color);
            text-decoration-color: var(--link-underline-color);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
        line-height: 1.1em;
    }

    h1 {
        @media print {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            align-items: baseline;
            font-size: 1.25em;
            page-break-inside: avoid;
            break-inside: avoid;
            page-break-after: avoid;
            break-after: avoid;

            > * {
                margin: 0.2em;
                display: block;
            }
        }

        .subject {
            @include major-subheading-font();
            color: var(--text-color);
            @media print {
                color: #000;
            }
        }

        .company {
            &:before {
                content: "\2013";
                margin-right: 0.3em;
                @include subheading-font();
                color: var(--text-color);
                @media print {
                    color: #000;
                }
            }
            &:after {
                content: " ";
                white-space: pre;
                font-size: 0.5em;
            }
        }

        .time {
            display: block;
            font-size: 0.7em;
            white-space: nowrap;
            color: var(--text-color);
            @media print {
                color: #000;
                flex-grow: 1;
                text-align: right;
            }
        }

        @include subheading-font();
        padding: 0;
        margin: 0;
        margin-bottom: 1%;
        width: 100%;
        @media print {
            border-color: #000;
        }
    }

    h2 {
        margin-top: 0.5em;
    }

    a {
        @include link-font();
    }

    ul, ol {
        padding: 0;
        padding-left: 1em;
        margin: 0;
        margin-left: 1em;
    }

    ul {
        list-style-type: circle;
        ul {
            list-style-type: disc;
        }
    }
}

.blink {
    animation: blink 2s steps(2, start) infinite;
}

@keyframes blink {
    from { visibility: visible; }
    to   { visibility: hidden; }
}

.more-articles {
    padding-top: 0;
    width: 100%;

    a {
        margin: 1em auto;
        margin-bottom: 0;
        display: block;
        font-size: 1.5em;
        text-decoration: none;
        padding: 0.3em;
        width:  1em;
        height: 1em;
        color: var(--text-color);
        border: 1px solid var(--text-color);
        border-radius: 100%;
        line-height: 125%;
        opacity: 0.3;
        transition: opacity 0.2s;
        background: none;

        &:hover {
            opacity: 1;
        }
    }
}

section .articles {
    display: flex;
    flex-direction: column;

    article.featured-media + article:not(.featured-media) {
        order: -1;
    }
}
