html {
    // fix landscape text scaling
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, body {
    color: $text-color;
    @media print {
        color: #000;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    text-align: center;
    margin: 0;
}

h1, h2 {
    font-weight: $header-weight;
    font-size: 1.5em;
    letter-spacing: 0.04em;
}

h3, h4, h5, h6 {
    font-weight: $header-weight * 2;
}

body, article, section, p {
    font-family: $text-font;
}

body {
    margin: 0;
    width: 100%;
    background-color: $body-background;
    @media print {
        background: none;
    }
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

article, section, p {
    line-height: 1.4em;
    letter-spacing: 0.02em;
}

code.highlighter-rouge {
    box-sizing: border-box;
    padding: 0.125em 0.35em;
    margin: 0 0.125em;
    background-color: #EEE;
    border-radius: 0.25em;
}

.highlight {
    pre {
        overflow-x: scroll;
        box-sizing: border-box;
        padding: 0.5em 1em;
        background-color: #F8F8F8;
    }
}

.media {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 0.5em;
    max-height: 30em;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (3 / 4) * 100%;
    }
}

.hover-link {
    text-decoration: none;
    font-weight: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.icon {
    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 5px;

        path {
            fill: #fff;
            @media print {
                fill: #000;
            }
        }
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    text-align: center;
    margin-left: 0;
    padding-left: 0
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;

    .section-header {
        width: 100%;
        font-size: 2em;
        font-weight: $header-weight;

        @media print {
            font-size: 1.5em;
            page-break-after: avoid;
            break-after: avoid;
        }
    }
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.75em;
    margin: 1.25em;
    border-radius: 2px;
    text-align: left;
    background-color: $article-background;
    max-width: 40em;

    @media (max-width: 40em) {
        padding: 5%;
        margin: 3%;
    }

    @media print {
        background: none;
        border: none;
        margin: 0.1em;
        padding: 0 0.5em;
        page-break-inside: avoid;
        break-inside: avoid;
        page-break-after: always;
        break-after: always;

        &:after {
            content: "\a";
            white-space: pre;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }

    $read-more-color: $link-color;
    $read-more-underline-color: darken($read-more-color, 10%);

    .read-more {
        margin-top: auto;
        font-style: italic;
        font-size: 0.85em;
        font-weight: 100;
        color: $text-color;
        -webkit-text-decoration-color: $read-more-underline-color;
        text-decoration-color: $read-more-underline-color;
        @media print {
            display: none;
        }
        &:after {
            content: "...";
        }
    }

    a.read-more {
        color: $read-more-color;

        &:hover {
            color: lighten($read-more-color, 15%);
            -webkit-text-decoration-color: $read-more-underline-color;
            text-decoration-color: $read-more-underline-color;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
        line-height: 1.1em;
    }

    h1 {
        @media print {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            align-items: baseline;
            font-size: 1.25em;
            page-break-inside: avoid;
            break-inside: avoid;
            page-break-after: avoid;
            break-after: avoid;

            > * {
                margin: 0.2em;
                display: block;
            }
        }

        .subject {
            font-weight: $header-weight * 2;
            @media print {
                color: #000;
            }
        }

        .company {
            &:before {
                content: "\2013";
                margin-right: 0.3em;
                font-weight: $header-weight;
                color: $text-color;
                @media print {
                    color: #000;
                }
            }
            &:after {
                content: " ";
                white-space: pre;
                font-size: 0.5em;
            }
        }

        .time {
            font-size: 0.7em;
            white-space: nowrap;
            color: darken($text-color, 20%);
            @media print {
                color: #000;
                flex-grow: 1;
                text-align: right;
            }
        }
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
        margin-bottom: 2%;
        font-weight: $header-weight;
        width: 100%;
        border-bottom: 1px solid $highlight-color;
        @media print {
            border-color: #000;
        }
    }

    h2 {
        margin-top: 0.5em;
    }

    a {
        font-weight: $link-weight;
    }

    ul, ol {
        padding: 0;
        padding-left: 1em;
        margin: 0;
        margin-left: 1em;
    }

    ul {
        list-style-type: circle;
        ul {
            list-style-type: disc;
        }
    }
}
