@import "fonts";

footer {
    margin: 2em;
    text-align: center;

    .footer-heading {
        @include title-font();
    }

    .site-links {
        margin-top: 0.5em;
    }

    .copyright {
        font-size: 0.9em;
        margin-top: 2em;
    }
}
