footer {
    $header-weight: 400;
    font-weight: 300;
    font-size: 0.9em;
    margin: 2em;
    text-align: center;

    .footer-heading {
        font-weight: $header-weight;
        margin-bottom: 0;
    }

    .copyright {
        font-size: 0.9em;
        margin-top: 2em;
    }
}
