footer {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 0.75em;
    padding: 2em;
    text-align: center;
    // columns: 3;
    a {
        color: darken($text-color, 20%);
    }
}
