header {
    &, h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

    padding: 10px;
    padding-left: 20px;

    a {
        text-decoration: none;
    }

    .site-title {
        a {
            color: $highlight-color;

            &:hover {
                $title-hover-color: lighten($highlight-color, 80%);
                -webkit-text-decoration-color: $title-hover-color;
                text-decoration-color: $title-hover-color;
            }

            @media print {
                color: #000
            }
        }
        color: $highlight-color;
        @media print {
            color: #000;
        }
        margin: 0;
        padding: 0;
        font-family: $header-font;
        font-size: 50px;
        font-weight: $header-weight;
    }

    .site-tagline {
        margin: 0% 1%;
        font-size: 1.2em;
    }

}
