@import "typer";
@import "fonts";

body > header {
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    margin: 2vh 1em;

    &.index {
        font-size: 1em;
        margin: 8vh 1em;

        .site-headshot {
            height: 10em;
            width: 10em;
        }

        @media (max-width: 35rem) {
            .row {
                flex-direction: column;
            }

            .col {
                align-items: center;
            }
        }
    }

    a {
        text-decoration: none;
    }

    .row > * {
        margin: 0.5em;
    }

    @media (max-width: 20rem) {
        &:not(.index) .row {
            flex-direction: column;
        }
    }

    .site-headshot {
        height: 8em;
        width: 8em;
        clip-path: circle(47% at center);
    }

    .site-title {
        color: var(--highlight-color);
        @media print {
            color: #000;
        }
        margin: 0;
        margin-left: -0.05em;
        margin-bottom: 0.15em;
        padding: 0;
        font-size: 2.25em;
        @include title-font();

        a {
            color: var(--highlight-color);
            $type-duration: 2s;
            @include typer(var(--highlight-color), str-length("John Starich_") + 5, $type-duration); // add more for slight delay of first letter

            &:hover {
                -webkit-text-decoration-color: var(--title-underline-color);
                text-decoration-color: var(--title-underline-color);
            }

            @media print {
                color: #000
            }

            .blink {
                color: var(--text-color);
                visibility: hidden;
                animation-delay: $type-duration;
            }
        }
    }

    .site-tagline {
        @include major-subheading-font();
        font-size: 1.2em;
        letter-spacing: 0.03em; // stretch to fit site title
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}
