header {
    $header-weight: 500;
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    margin: 2vh 1em;

    &.index {
        font-size: 1em;
        margin: 8vh 1em;

        .site-headshot {
            height: 10em;
            width: 10em;
        }

        @media (max-width: 35rem) {
            .row {
                flex-direction: column;
            }
        }
    }

    a {
        text-decoration: none;
    }

    .row > * {
        margin: 0.5em;
    }

    @media (max-width: 20rem) {
        &:not(.index) .row {
            flex-direction: column;
        }
    }

    .site-headshot {
        height: 8em;
        width: 8em;
        clip-path: circle(47% at center);
    }

    .site-title {
        a {
            color: $highlight-color;

            &:hover {
                $title-hover-color: lighten($highlight-color, 80%);
                -webkit-text-decoration-color: $title-hover-color;
                text-decoration-color: $title-hover-color;
            }

            @media print {
                color: #000
            }
        }
        color: $highlight-color;
        @media print {
            color: #000;
        }
        margin: 0;
        padding: 0;
        font-family: $header-font;
        font-size: 2.5em;
        font-weight: $header-weight;
        letter-spacing: 0.03rem;
    }

    .site-tagline {
        font-size: 1.2em;
        font-weight: $header-weight;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}
