section {
	max-width: 980px;

	@media screen {
		@media (max-width: 980px) {
			width: 100%;
		}

		@media (min-width: 900px) {
			> article {
				width: 40%;
			}
		}

		@media (max-width: 900px) and (min-width: 800px) {
			> article {
				width: 100%;
			}
		}
	}
}
