section {
    max-width: 980px;

    @media screen {
        @media (max-width: 980px) {
            width: 100%;
        }

        @media (min-width: 900px) {
            > .skill {
                width: 40%;
            }
        }

        @media (max-width: 900px) and (min-width: 800px) {
            > .skill {
                width: 60%;
            }
        }

        @media (min-width: 800px) {
            article:not(:only-child) {
                max-width: 300px;
                .company:before {
                    content: "\a";
                    white-space: pre;
                }
            }
        }

        article {
            @media (max-width: 550px) {
                .company:before {
                    content: "\a";
                    white-space: pre;
                }
            }
        }
    }
}
