section {
    $section-width: 1200px;
    max-width: $section-width;

    @media screen {
        &.cols-2 {
            @media (max-width: $section-width) {
                width: 100%;
            }

            @media (min-width: $section-width) {
                article:not(:only-child) {
                    max-width: 30em;
                    .company:before {
                        content: "\a";
                        white-space: pre;
                    }
                }
            }
        }

        article {
            @media (max-width: 44em) {
                .company:before {
                    content: "\a";
                    white-space: pre;
                }
            }

            @media (min-width: 35em) {
                a.media-link {
                    float: right;
                    width: 50%;
                    .media {
                        margin-left: 0.5em;
                    }
                }
            }
        }
    }
}
