@import "fonts";

.site-links {
    @include header-font();
    font-size: 0.9em;
    margin: 0.25em 0;
    letter-spacing: -0.15em; // reduce spaces between bullet items

    @media print {
        display: none;
    }

    a {
        @include header-links-font();
        &:hover {
            text-decoration: underline;
        }
    }
}
