@import "base";

.site-links {
    font-family: $header-font;
    font-weight: $header-weight;
    font-size: 0.9em;
    margin: 0.25em 0;

    @media print {
        display: none;
    }

    a {
        font-weight: 800;
        letter-spacing: 0.03em;
        &:hover {
            text-decoration: underline;
        }
    }
}
