.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	-webkit-align-items: stretch;
	align-items: stretch;
		
	.skill {
		margin: 0.75em;
		padding: 1em;
		max-width: 80px;
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		> *,
		> a > *
		{
			width: 100%;
		}

		svg {
			margin-left: auto;
			margin-right: auto;
			width: 60%;
		}

		h1, h2, h3, h4, h5, h6 {
			text-align: center;
		}

		.content {
			-webkit-align-self: flex-end;
			align-self: flex-end;
		}
	}
}

svg {
	-webkit-align-self: center;
	align-self: center;
	fill: #FFF;

	rect {
		stroke: #FFF;
	}
}

.skill-icon,
.skill-icon svg {
	float: right;
	width: 6em;
	height: initial;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}
