@import "explore";
@import "hack";
@import "teach";

section header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;

    h2 {
        @include major-subheading-font();
        margin: 0;
        padding: 0;
    }

    .symbol {
        height: 11em;
        width:  11em;
        margin: 2em;
    }
}

.pause-animation * {
    animation-play-state: paused !important; // hack is only used to improve performance when off-screen
}
