---
layout: default
---
<section>
{% assign blog_posts = paginator.posts %}
{% for post in blog_posts %}
    <article class="post post-excerpt">
        <h2>
            <a class="subject" href="{{ post.url }}">{{ post.title }}</a>
            <span class="time">{{ post.date | date: '%B %e, %Y' }}</span>
        </h2>
        <div class="article-excerpt">
            {% if post.media %}
                {% assign asset = post.media[0] %}
                <a class="media-link" href="{{ post.url }}">
                    {% include media.html file=asset %}
                </a>
            {% endif %}
            {{ post.excerpt | markdownify }}
            {% if post.excerpt != post.content %}
                <a class="read-more" href="{{ post.url }}">read more</a>
            {% endif %}
        </div>
    </article>
{% endfor %}
    <div class="pagination">
    {% if paginator.total_pages > 1 %}
        <span class="prev">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}">Previous</a>
            {% endif %}
        </span>
        <span class="page">{{ paginator.page }}</span>
        <span class="next">
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}">Next</a>
            {% endif %}
        </span>
    {% endif %}
    </div>
</section>
