---
layout: default
---
<section>
    <article>
        <h2>
            <span class="subject">{{ page.title }}</span>
            {% if page.start_date and page.end_date %}
            <span class="time">{{ page.start_date }} &ndash; {{ page.end_date }}</span>
            {% elsif page.start_date %}
            <span class="time">{{ page.start_date }}</span>
            {% endif %}
        </h2>
        {% if page.media %}
            {% assign asset = page.media[0] %}
            <a href="{{ page.url }}">
                {% include media.html file=asset %}
            </a>
        {% endif %}
        {{ content }}
    </article>
</section>
